<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Account.API.Interfaces" version="1.1.0.2947" targetFramework="net461" />
  <package id="CasinoServices.Library.Interfaces" version="14.4.0.102" targetFramework="net461" />
  <package id="CasinoServices.Library.Veyron.Base.Plugin" version="14.5.0.110" targetFramework="net461" />
  <package id="CasinoServices.Library.Veyron.Interfaces" version="14.4.0.2848" targetFramework="net461" />
  <package id="MGS.Logging" version="6.0.0.2980" targetFramework="net461" />
  <package id="MGS.Metrics" version="1.0.0.25" targetFramework="net461" />
  <package id="MGS.Random.Interfaces" version="35.0.0.2990" targetFramework="net461" />
  <package id="MGS.RNG" version="35.0.0.657" targetFramework="net461" />
  <package id="MGS.Router.ProtocolBuffers" version="1.2.0.1179" targetFramework="net461" />
  <package id="MGS.System.SystemConfigurationApi.Client" version="2.9.0.188" targetFramework="net461" />
  <package id="MGS.System.SystemConfigurationApi.Models" version="2.9.0.188" targetFramework="net461" />
  <package id="MGS.System.SystemSecurityApi.Client" version="2.7.0.44" targetFramework="net461" />
  <package id="MGS.System.SystemSecurityApi.Models" version="2.7.0.44" targetFramework="net461" />
  <package id="MGS.SystemServices.Core" version="2.15.0.195" targetFramework="net461" />
  <package id="MGS.SystemServices.Core.Interfaces" version="2.11.0.193" targetFramework="net461" />
  <package id="MGS.WebApi.Client" version="2.0.0.12" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.8" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net461" />
  <package id="StatsdCsharpClient" version="1.3.0.0" targetFramework="net461" />
</packages>